---
layout: base
---

<h1><a href="/">blog.phphost.cz</a></h1>

{{ content }}

<hr>

<p>(c) <a href="http://blog.phphost.cz">blog</a> <a target="_blank" href="http://phphost.cz">phphost.cz</a> pise <a target="_blank" href="http://ondrejsika.com">Ondrej Sika</a></p>
